// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Archivo Narrow', sans-serif;
$font-size-base: 1.2rem;
// $line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// color temas
$primary: #cf8c42;
$secondary: #080808;
$info: #3e83bb;

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);
// $link-color: #d67723;

// $enable-responsive-font-sizes: true;
// $border-radius:               5rem !default;
// $border-radius-lg:            7rem !default;
// $border-radius-sm:            3rem !default;

// $body-color: #e3e3e3;

//
// $link-color:                              theme-color("primary") !default;
// $link-decoration:                         none !default;
// $link-hover-color:                        darken($link-color, 15%) !default;
// $link-hover-decoration:                   underline !default;

