<template>
<div>
  <vuetable ref="vuetable"
      :api-url="route('admin.lideres.apiTodos')"
      :fields="campos"
      :sort-order="sortOrder"
      :css="classes.table"
      no-data-template="No hay datos para mostrar"
      data-path="data"
      pagination-path=""
      @vuetable:pagination-data="onPaginationData"
    >
    <div slot="acciones-slot" slot-scope="props">
      <small>
        <a class="text-primary"
           title="Ver este elemento"
           :href="route('sermones.lideres.show', {slug: props.rowData.slug})">
          <i class="mr-1 fa fa-eye"></i>
        </a>
      </small>

      <small>
        <a class="text-info"
           :href="route('admin.lideres.edit', {slug: props.rowData.slug})"
           title="Editar este elemento">
          <i class="mr-1 fa fa-edit"></i>
        </a>
      </small>

      <small>
        <a class="text-danger"
           href="#"
           @click.prevent="eliminarElemento(props.rowData.slug)"
           title="Eliminar este elemento">
          <i class="mr-1 fa fa-trash"></i>
        </a>
      </small>
    </div>
  </vuetable>

  <div style="margin-top:10px">
    <vuetable-pagination-info ref="paginationInfo"
        :css="classes.paginationInfo"
        info-template="Mostrando {from} hasta {to} de {total} elementos"
        no-data-template="No hay datos"
    ></vuetable-pagination-info>

    <vuetable-pagination ref="pagination"
        :css="classes.pagination"
        class="float-right"
        @vuetable-pagination:change-page="onChangePage"
    ></vuetable-pagination>
  </div>

</div>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from './VuetablePaginationBootstrap4.vue'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'

export default {
  name: 'listado-lideres',

  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo
  },

  data() {
    return {
      sortOrder: [
        {
          field: 'nombre',
          direction: 'asc'
        }
      ],
      campos: [
        {
          name: 'nombre',
          sortField: 'nombre',
          formatter: (nombre, tabla) => {
            const fila = tabla.tableData.find((row) => row.nombre == nombre);
            const html = `
              <img src="${route('sitio.inicio')}${fila.imagen}"
                   class="border rounded-circle"
                   title="${fila.nombre}"
                   width="40">
              <span>${nombre}</span>
            `;
            return html;
          }
        },
        {
          name: 'posicion',
          title: 'Posición',
          sortField: 'posicion',
        },
        {
          name: 'contacto',
          sortField: 'contacto',
          formatter: (contacto) => {
            const redes = contacto.split(' ').map((red) => red.split(':'));

            let instagram = redes.find((row) => row[0] == 'instagram');
            let facebook = redes.find((row) => row[0] == 'facebook');
            let email = redes.find((row) => row[0] == 'email');

            instagram = instagram ? instagram[1] : '';
            facebook = facebook ? facebook[1] : '';
            email = email ? email[1] : '';

            let html = '';
            html += `
              <a href="https://instagram.com/${instagram}" target="_blank">
                <i class="text-dark fab fa-instagram mr-1"></i>
              </a>
              <a href="https://fb.me/${facebook}" target="_blank">
                <i class="text-dark fab fa-facebook mr-1"></i>
              </a>
              <a href="emailto:${email}" target="_blank">
                <i class="text-dark fa fa-envelope"></i>
              </a>
            `;
            return html;
          }
        },
        {
          name: 'acciones-slot',
          title: 'Acciones',
          dataClass: 'text-center',
        }
      ],
      classes: {
        table: {
          tableWrapper: '',
          tableHeaderClass: 'mb-0',
          tableBodyClass: 'mb-0',
          tableClass: 'table table-striped table-hover',
          loadingClass: 'loading',
          ascendingIcon: 'fa fa-chevron-up',
          descendingIcon: 'fa fa-chevron-down',
          ascendingClass: 'sorted-asc',
          descendingClass: 'sorted-desc',
          sortableIcon: 'fa fa-sort',
          detailRowClass: 'vuetable-detail-row',
          handleIcon: 'fa fa-bars text-secondary',
          renderIcon(classes, options) {
            return `<i class="${classes.join(' ')}"></span>`
          }
        },
        pagination: {
          wrapperClass: 'pagination float-right',
          activeClass: 'active',
          disabledClass: 'disabled',
          pageClass: 'page-item',
          linkClass: 'page-link',
          paginationClass: 'pagination',
          paginationInfoClass: 'float-left',
          dropdownClass: 'form-control',
          icons: {
            first: 'fa fa-step-backward',
            prev: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            last: 'fa fa-step-forward',
          }
        },
        paginationInfo: {
          infoClass: 'float-left'
        }
      }
    }
  },

  methods: {
    eliminarElemento(slug) {
      bootbox.confirm('¿Desea eliminar este elemento?', (confirma) => {
        if (confirma) {

          axios.delete(route('admin.lideres.apiDestroy', {slug: slug}))
            .then((response) => {
              window.location.href = route('admin.lideres.index');
            })
            .catch((error) => {
              const msg = `Error: (${error.response.status} ${error.response.statusText}).
                           No se pudo realizar la acción.`

              bootbox.alert(msg);
            });
        }
      });
    },

    // when the pagination data is available, set it to pagination component
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    // when the user click something that causes the page to change,
    // call "changePage" method in Vuetable, so that that page will be
    // requested from the API endpoint.
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    }
  }
}
</script>
