<template>
<div>
  <vuetable ref="vuetable"
      :api-url="route('admin.series.apiTodos')"
      :fields="campos"
      :sort-order="sortOrder"
      :css="classes.table"
      no-data-template="No hay datos para mostrar"
      data-path="data"
      pagination-path=""
      @vuetable:pagination-data="onPaginationData"
    >
    <div slot="acciones-slot" slot-scope="props">
      <small>
        <a class="text-primary"
           :href="route('sermones.series.show', {slug: props.rowData.slug})"
           title="Ver este elemento">
          <i class="mr-1 fa fa-eye"></i>
        </a>
      </small>

      <small>
        <a class="text-info"
           :href="route('admin.series.edit', {slug: props.rowData.slug})"
           title="Editar este elemento">
          <i class="mr-1 fa fa-edit"></i>
        </a>
      </small>

      <small>
        <a class="text-danger"
           href="#"
           @click.prevent="eliminarElemento(props.rowData.slug)"
           title="Eliminar este elemento">
          <i class="mr-1 fa fa-trash"></i>
        </a>
      </small>
    </div>
  </vuetable>

  <div style="margin-top:10px">
    <vuetable-pagination-info ref="paginationInfo"
        :css="classes.paginationInfo"
        info-template="Mostrando {from} hasta {to} de {total} elementos"
        no-data-template="No hay datos"
    ></vuetable-pagination-info>

    <vuetable-pagination ref="pagination"
        :css="classes.pagination"
        class="float-right"
        @vuetable-pagination:change-page="onChangePage"
    ></vuetable-pagination>
  </div>

</div>
</template>

<script>
import Vuetable from 'vuetable-2'
import VuetablePagination from './VuetablePaginationBootstrap4.vue'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'

export default {
  name: 'listado-series',

  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo
  },

  data() {
    return {
      sortOrder: [
        {
          field: 'created_at',
          direction: 'desc'
        }
      ],
      campos: [
        {
          name: 'titulo',
          title: 'Título',
          sortField: 'titulo'
        },
        {
          name: 'created_at',
          title: 'Fecha de creación',
          sortField: 'created_at',
          formatter (fecha) {
            return new Date(fecha).toISOString().slice(0, 10);
          }
        },
        {
          name: 'acciones-slot',
          title: 'Acciones',
          dataClass: 'text-center'
        }
      ],
      classes: {
        table: {
          tableWrapper: '',
          tableHeaderClass: 'mb-0',
          tableBodyClass: 'mb-0',
          tableClass: 'table table-striped table-hover',
          loadingClass: 'loading',
          ascendingIcon: 'fa fa-chevron-up',
          descendingIcon: 'fa fa-chevron-down',
          ascendingClass: 'sorted-asc',
          descendingClass: 'sorted-desc',
          sortableIcon: 'fa fa-sort',
          detailRowClass: 'vuetable-detail-row',
          handleIcon: 'fa fa-bars text-secondary',
          renderIcon(classes, options) {
            return `<i class="${classes.join(' ')}"></span>`
          }
        },
        pagination: {
          wrapperClass: 'pagination float-right',
          activeClass: 'active',
          disabledClass: 'disabled',
          pageClass: 'page-item',
          linkClass: 'page-link',
          paginationClass: 'pagination',
          paginationInfoClass: 'float-left',
          dropdownClass: 'form-control',
          icons: {
            first: 'fa fa-step-backward',
            prev: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            last: 'fa fa-step-forward',
          }
        },
        paginationInfo: {
          infoClass: 'float-left'
        }
      }
    }
  },

  methods: {
    eliminarElemento(slug) {
      bootbox.confirm('¿Desea eliminar este elemento?', (confirma) => {
        if (confirma) {

          axios.delete(route('admin.series.apiDestroy', {slug: slug}))
            .then((response) => {
              window.location.href = route('admin.series.index');
            })
            .catch((error) => {
              const msg = `Error: (${error.response.status} ${error.response.statusText}).
                           No se pudo realizar la acción.`

              bootbox.alert(msg);
            });
        }
      });
    },
    // when the pagination data is available, set it to pagination component
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    // when the user click something that causes the page to change,
    // call "changePage" method in Vuetable, so that that page will be
    // requested from the API endpoint.
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    }
  }
}
</script>
