<template>
  <div class="mb-3">
    <img v-if="imgDataUrl"
         :src="imgDataUrl"
         class="mb-1"
         id="imgPrevia"
         width="100"
         height="100">
    <br>
    <a class="btn btn-sm btn-outline-success" @click="toggleShow">Cargar Imagen</a>
    <my-upload
          @crop-success="cropSuccess"
          v-model="show"
          lang-type="es-MX"
          :no-circle="true"
          :width="400"
          :height="400"
          img-format="jpg">
    </my-upload>
  </div>
</template>

<script>
import myUpload from 'vue-image-crop-upload';
import Utils from '../helpers/utils';

export default {
  name: 'SubirImagen',
  data() {
    return {
      show: false,
      imgDataUrl: '',
    }
  },
  components: {
    'my-upload': myUpload
  },
  methods: {
    toggleShow() {
      this.show = !this.show;
    },

    /**
     * crop success
     *
     * [param] imgDataUrl
     * [param] field
     */
    cropSuccess(imgDataUrl, field){
      this.imgDataUrl = imgDataUrl;

      setTimeout(function () {
        // esta funcion convierte el src de la imagen a un File
        Utils.URLToFile($('#imgPrevia')[0].src, 'imagen.jpg', 'image/jpeg')
        .then(function(file){

          // crea un dataTransfer para que guarde el File
          const dT = new ClipboardEvent('').clipboardData || // Firefox < 62 workaround
                     new DataTransfer(); // specs compliant (as of March 2018 only Chrome)
          dT.items.add(file);

          // reemplaza los files del input 'imagen' con el dataTransfer creado
          $('#imagen')[0].files = dT.files;
        })
      }, 500);

    },
  },
}
</script>
